@media (max-width: 999px) {
  .dashOne,
  .dashTwo,
  .dashThree {
    display: block;
    width: 35px;
    height: 40%;
    border-top: 2px solid white;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
}

.infoButton {
  @apply bg-gray-837 rounded px-10 py-0 h-[45px] text-white text-sm hover:bg-gray-8c;
  -webkit-text-stroke: 1px white;
}
