.filmTitle {
  background: radial-gradient(
    130.25% 602.51% at 33.47% 108.79%,
    #ffffff 20.16%,
    rgba(227, 227, 227, 0) 58.3%
  );
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
@media (max-width: 999px) {
  .dashOne,
  .dashTwo,
  .dashThree {
    display: block;
    width: 35px;
    height: 40%;
    border-top: 2px solid white;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
}

.infoButton {
  @apply bg-gray-837 rounded px-10 py-0 h-[45px] text-white text-sm hover:bg-gray-8c;
  -webkit-text-stroke: 1px white;
}

.headerTitle {
  background: radial-gradient(
    115.44% 109.56% at 50% 50%,
    #ffebef 0%,
    rgba(116, 103, 108, 0) 100%
  ); /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.headerTitleY {
  composes: headerTitle;
  font-size: 24px;
}
